@using EstatisticaFatec.Helper
@model EstatisticaFatec.Core.Models.MedidasDispersao.MedidasDispersaoEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Medidas de Dispersão</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">O que é?</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="material-icons" style="font-size:50px">info</i>
                </div>
                <div class="row-content">
                    <p class="list-group-item-text">
                        Características mensuráveis que assumem valores em uma escala contínua (na reta real), para as quais valores fracionais fazem sentido. Usualmente devem ser medidas através de algum instrumento. Exemplos: peso (balança), altura (régua), tempo (relógio), pressão arterial, idade.
                    </p>
                    <p>
                        Exemplos: número de filhos, número de bactérias por litro de leite, número de cigarros fumados por dia.
                        <button class="btn btn-success" data-toggle="modal" data-target="#myModal"> + Informações</button>
                    </p>
                </div>
            </div>
            <div class="list-group-separator"></div>
        </div>
    </div>
</div>

@if (Model.InputValue.Any() == false)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
    </div>
}


<form method="POST" action="@Url.Action("Index")">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="info">Efetuamos a coleta de todos os dados.</span>
        </div>

        <div class="panel-body">
            <div class="row-content">

                <div class="">
                    <div class="list-group-item">

                        <div class="row">

                            <div class="col-md-4">
                                <span class="badge">Você pode efetuar o upload de arquivo</span>
                                <input type="file" value="" />
                            </div>
                            <div class="col-md-8">
                                <span class="badge">Ou se preferir manualmente, insira os paramêtros, separados por ponto e vírgula ";"</span>
                            </div>

                        </div>

                        <textarea name="massaDados" placeholder="@string.Join("; ", @Model.InputValue)" class="form-control" rows="6" style="min-width: 100%" id="txtParametros"></textarea>

                    </div>
                </div>

                <div class="btn-group pull-right">
                    <input class="btn btn-danger" value="Limpar" type="reset">
                    <input class="btn btn-warning" onclick="formatarInput()" value="Formatar Inputs" type="button">
                    <input class="btn btn-success" value="Enviar" type="submit">
                </div>

            </div>
        </div>
    </div>
</form>

@if (Model.InputValue.Any())
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="info">Toda informação é ordenada (Vulgo ROL).</span>
        </div>

        <div class="panel-body">
            <div class="row-content">

                <p>@Html.Rol(Model.Rol)</p>



            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="info">Medidas de Dispersão.</span>
        </div>

        <div class="panel-body">
            <div class="row-content">

                <div class="form-group">

                    <label class="col-md-1 control-label">Variância</label>
                    <div class="col-md-1">
                        <input class="form-control" readonly="" value="@Model.Variancia">
                    </div>

                    <label class="col-md-2 control-label">Desvio Padrão</label>
                    <div class="col-md-1">
                        <input class="form-control" readonly="" value="@Model.DP">
                    </div>

                    <label class="col-md-2 control-label">Coeficiente da variação</label>
                    <div class="col-md-1">
                        <input class="form-control" readonly="" value="@Model.CV%">
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}