@using EstatisticaFatec.Helper
@model EstatisticaFatec.Core.Models.EstratificadaProporcional.EstratificadaProporcionalContainerEntity

@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

@if (Model.EstratificadaProporcional.Any() == false)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
    </div>
}

<div class="well bs-component">
    <fieldset>
        <legend>Estratificada Proporcional</legend>
        <div class="form-group">


            <div class="col-xs-12">
                <blockquote class="small">
                    <p>A proporcionalidade do tamanho de cada estrato da população é mantida na amostra.</p>
                    <p>Exemplo: Se um estrato abrange 20% da população, ele também deve abranger 20% da amostra.</p>
                </blockquote>
            </div>
        </div>
    </fieldset>

</div>

<div class="well bs-component">
    <form class="form-horizontal" method="post" action="@Url.Action("Index")">
        <fieldset>
            <legend>Parametrização</legend>

            @if (@Html.ViewData.ModelState.IsValid == false)
            {
                <div class="alert alert-warning alert-dismissable" style="background-color: #610883;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="row-action-primary">
                        <i class="material-icons" style="color: white;float: left;">error</i>
                    </div>
                    <strong>@Html.ValidationMessage("error")</strong>
                </div>
            }
            <div class="form-group">

                <label class="col-md-2 control-label">População</label>
                <div class="col-md-4">
                    <input class="form-control" required placeholder="@Html.Null(Model.Populacao)" value="@Html.Null(Model.Populacao)" name="populacao" type="number" min="1">
                </div>

                <label class="col-md-2 control-label">Amostra</label>
                <div class="col-md-4">
                    <input class="form-control" required placeholder="@Html.Null(Model.Amostra)" value="@Html.Null(Model.Amostra)" name="amostra" type="number" min="1">
                </div>


                <div id="divEstratoPai">
                    <label class="col-md-2 control-label">Estratos</label>

                    <div id="divEstrato" class="col-md-4">
                        <input class="form-control" required name="estrato" type="number">
                    </div>
                    <div class="col-md-3">
                        <input value="Adicionar Estrato" class="btn btn-info" type="button" onclick="funcaoAdicionarEstrato()">
                    </div>
                    <div class="col-md-3">
                        <input value="Remover Todos Estratos" class="btn btn-warning" type="button" onclick="funcaoRemoverTodosEstratos()">
                    </div>

                </div>


                @if (Model.EstratificadaProporcional.Any())
                {
                    <hr />

                    <label class="col-md-2 control-label">Resultados</label>
                    <div class="col-md-5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Número estrato</th>
                                    <th>Quantidade de elementos entrevistados</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.EstratificadaProporcional)
                                {
                                    <text>

                                        <tr>
                                            <td>@(item.IdEstrato + 1)</td>
                                            <td>@(item.QtdEstrato) </td>
                                        </tr>
                                    </text>
                                }
                                <tr>
                                    <td>Total : @Model.EstratificadaProporcional.Count</td>
                                    <td>Soma : @(Model.EstratificadaProporcional.Select(q => q.QtdEstrato).Sum())</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="col-md-10 col-md-offset-2">

                <button type="reset" class="btn btn-danger">Limpar</button>
                <button type="submit" class="btn btn-primary">Enviar<div class="ripple-container"></div></button>
            </div>
        </fieldset>
    </form>
</div>

@section Scripts{

    <script>
        function funcaoAdicionarEstrato() {
            $("#divEstratoPai").append('<div id="divEstratoClone" class="col-md-10 col-md-offset-2"><input class="form-control" required name="estrato" type="number"><input value="Remover Estrato" class="btn btn-danger"  type="button" onclick="funcaoRemoverEstrato(this)"></div>');
        }
        function funcaoRemoverEstrato(elemento) {
            $(elemento).parent().remove();
        }
        function funcaoRemoverTodosEstratos() {
            while (document.getElementById("divEstratoClone") != null) {
                $("#divEstratoClone").remove();
            }
        }
    </script>
}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Entendendo as etapas</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend> Coletando paramêtros <span class="lesssmall pull-right">A população deve ser maior que a amostra.</span></legend>
                    <img style="width: 100%;" class="img-rounded img-responsive" src="~/Content/img/estratificadaProporcional/estratificadaProporcional.jpg" />
                    • Amostra / População = (100/100) * 100 = 10%
                    <ul>
                        <li>
                            ADS = 600 – 10% -> 60 pessoas
                        </li>
                        <li>
                            GPI = 300 – 10% 30 Pessoas
                        </li>
                        <li>
                            GE = 100 – 10% 10 pessoas
                        </li>

                    </ul>

                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>