@model EstatisticaFatec.Core.Models.MedidasTendencia.MedidasTendenciaEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.InputValue.Any() == false)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
    </div>
}

<div class="fixed-action-btn" data-toggle="modal" data-target="#myModal" title="Entendendo a metodologia">
    <a href="javascript:void(0)" class="btn btn-warning btn-fab">
        <i class="material-icons">reorder</i>
        <div class="ripple-container"></div>
    </a>
</div>

<div class="well bs-component">
    <fieldset>
        <legend>Aleatória Simples</legend>
        <div class="form-group">


            <div class="col-xs-12">
                <blockquote class="small">
                    Uma amostra aleatória simples é usar um subconjunto de indivíduos (amostra) apartir de um conjunto maior (população) por um processo que garanta que
                    <ul>
                        <li>
                            Todos os indivíduos da população têm a mesma probabilidade de ser escolhidos para a amostra;
                        </li>
                    </ul>
                    <small class="pull-right">
                        Sorteamos uma quantidade de números X [AMOSTRA] entre um total de população de Y [POPULAÇÃO]
                    </small>

                </blockquote>
            </div>
        </div>
    </fieldset>
</div>

<form method="POST" action="@Url.Action("Index")">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="info">Efetuamos a coleta de todos os dados.</span>
        </div>

        <div class="panel-body">
            <div class="row-content">

                <div class="">
                    <div class="list-group-item">

                        <div class="row">

                            <div class="col-md-4">
                                <span class="badge">Você pode efetuar o upload de arquivo</span>
                                <input type="file" value="" />
                            </div>
                            <div class="col-md-8">
                                <span class="badge">Ou se preferir manualmente, insira os paramêtros, separados por ponto e vírgula ";"</span>
                            </div>

                        </div>

                        <textarea name="massaDados" placeholder="@string.Join("; ", @Model.InputValue)" class="form-control" rows="6" style="min-width: 100%" id="txtParametros"></textarea>

                    </div>
                </div>

                <div class="btn-group pull-right">
                    <a href="@Url.Action("Index","Home")" class="btn btn-default">Voltar</a>
                    <input class="btn btn-danger" value="Limpar" type="reset">
                    <input class="btn btn-warning" onclick="formatarInput()" value="Formatar Inputs" type="button">
                    <input class="btn btn-success" value="Enviar" type="submit">
                </div>

            </div>
        </div>
    </div>
</form>

@if (Model.InputValue.Any())
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="info">Toda informação é ordenada (Vulgo ROL).</span>
        </div>

        <div class="panel-body">
            <div class="row-content">


              

                <div class="col-md-6">
                    <span class="badge">
                        @string.Join("; ", @Model.Rol)
                    </span>
                </div>




                <div class="col-md-6">
                    <span class="badge">
                        Média: @Model.Media | Moda: @string.Join(";",Model.Moda)  | Mediana: @Model.Mediana
                    </span>
                </div>

            </div>
        </div>
    </div>



    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}