@model EstatisticaFatec.Core.Models.VariavelQuantitativa.VariavelDiscretaContainerEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Varíavel Discreta</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">O que é?</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row-action-primary" data-toggle="tooltip" title="Hooray!" >
                    <i class="material-icons informacao"   data-toggle="modal" data-target="#myModal"  style="font-size: 50px">info</i>
                </div>
                <div class="row-content">
                    <p class="list-group-item-text">
                        São as características que podem ser medidas em uma escala quantitativa, ou seja, apresentam valores numéricos que fazem sentido.
                        Que com suas informações mensuráveis que podem assumir apenas um número finito ou infinito contável de valores e, assim, somente fazem sentido valores inteiros. Geralmente são o resultado de contagens.

                    </p>
                    <p>
                        Exemplos: número de filhos, número de bactérias por litro de leite, número de cigarros fumados por dia.
                    </p>

                </div>

            </div>
         
        </div>
    </div>
</div>

@if (Model.InputValue.Any() == false)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
    </div>
}


<form method="POST" action="@Url.Action("Index")">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="badge">1ª Etapa</span>
            <span class="info">Efetuamos a coleta de todos os dados.</span>
        </div>

        <div class="panel-body">
            <div class="row-content">

                <div class="list-group">
                    <div class="list-group-item">

                        <div class="row">

                            <div class="col-md-4">
                                <span class="badge">Você pode efetuar o upload de arquivo</span>
                                <input type="file" value="" />
                            </div>
                            <div class="col-md-8">
                                <span class="badge">Ou se preferir manualmente, insira os paramêtros, separados por ponto e vírgula ";"</span>
                            </div>

                        </div>

                        <textarea name="massaDados" placeholder="@string.Join("; ", @Model.InputValue)" class="form-control" rows="6" style="min-width: 100%" id="txtParametros"></textarea>

                    </div>
                </div>

                <div class="btn-group pull-right">
                    <input class="btn btn-danger" value="Limpar" type="reset">
                    <input class="btn btn-warning" onclick="formatarInput()" value="Formatar Inputs" type="button">
                    <input class="btn btn-success" value="Enviar" type="submit">
                </div>

            </div>
        </div>
    </div>
</form>

@if (Model.InputValue.Any())
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="badge">2ª Etapa</span>
            <span class="info">Toda informação é ordenada (Vulgo ROL).</span>
        </div>

        <div class="panel-body">
            <div class="row-content">

                <div class="list-group">
                    <div class="list-group-item" style="text-align: center">
                        <p>Resultados: <span>@string.Join("; ", @Model.Rol)</span></p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">

                <div class="col-md-5">
                    <span class="badge">3ª Etapa</span>
                    <span class="info">Organizamos a coleta de dados</span>
                </div>

                <div class="col-md-4">
                    <span class="badge">4ª Etapa</span>
                    <span class="info">Distribuição de Frequência</span>
                </div>

                <div class="col-md-3">
                    <span class="badge">
                        Média: @Model.Media | Moda: @Model.Moda  | Mediana: @Model.Mediana
                    </span>
                </div>
 
            </div>
        </div>

        <div class="panel-body">
            <div class="row-content">

                <div class="list-group">
                    <div class="list-group-item">

                        <table class="table">
                            <thead>
                            <tr>
                                <th title="Valor a ser calculado">[XI]</th>
                                <th title="Frequência simples">[FI]</th>
                                <th title="Frequência relativa percentual ">[FE%]</th>
                                <th title="Frequência Acumulada">[F]</th>
                                <th title="Frequência Acumulada porcentual">[F%]</th>
                                <th title="Média">[XI * FI]</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.VariavelQuantitativaEntity)
                            {
                                <tr>
                                    <td>@item.XI</td>
                                    <td>@item.FI</td>
                                    <td>@item.FEPorcent%</td>
                                    <td>@item.F</td>
                                    <td>@item.FPorcent%</td>
                                    <td>@item.Media%</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                       

                    </div>
                </div>
            </div>
        </div>
    </div>


 

 
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="badge">5ª Etapa</span>
            <span class="info">Administramos assim os gráficos.</span>
        </div>

        <div class="panel-body">
            <div class="row-content">

                <div class="list-group">
                    <div class="list-group-item" style="text-align: center">
                        <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>






@section scripts{

        <script src="~/Scripts/highcharts.js"></script>
    <script>
 
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Varíavel contínua'
                },
                subtitle: {
                    text: 'Descrição dos dados'
                },
                xAxis: {
                    categories: [@string.Join(", ", @Model.VariavelQuantitativaEntity.Select(q => q.F))],
                    title: {
                        text: "Classes"
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Porcentagem',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' de frequência'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [
                    {
                        name: 'F%',
                        data: [@string.Join(", ", @Model.VariavelQuantitativaEntity.Select(q => Math.Round(q.FPorcent)))]
                    },
                    {
                        name: 'FE%',
                        data: [@string.Join(", ", @Model.VariavelQuantitativaEntity.Select(q => Math.Round(q.FEPorcent)))]
                    }
                ]
            });
        });
    </script>
    }
}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Entendendo as etapas</h4>
            </div>
            <div class="modal-body">
                <p>
                    Exemplo: A seguir temos os salários de 20 funcionários de uma determinada empresa.
                </p>
                <fieldset>
                    <legend> 1ª Etapa <span  class="lesssmall pull-right">Coleta de dados, a massa vem de forma aleatória.</span></legend>
                    <table class="table">
                        <tr>
                            <td>1000</td>
                            <td>2000</td>
                            <td>2000</td>
                            <td>5000</td>
                            <td>4000</td>
                            <td>4000</td>
                            <td>2000</td>
                            <td>3000</td>
                            <td>2000</td>
                            <td>3000</td>
                        </tr>
                        <tr>
                            <td>3000</td>
                            <td>3000</td>
                            <td>2000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>1000</td>
                            <td>2000</td>
                            <td>3000</td>
                        </tr>
                    </table>

                </fieldset>
                <h3></h3>

                <fieldset>
                    <legend> 2ª Etapa <span class="lesssmall pull-right"> Organizando dados. (Por ser quantitativo [Salários] deve ser ordenado).</span></legend>

                    <blockquote class="blockquote-reverse small">Na segunda etapa necessitamos fazer o "ROL" que é a ordenação dos elementos de forma crescente.</blockquote>


                    <table class="table">
                        <tr>
                            <td>1000</td>
                            <td>1000</td>
                            <td>2000</td>
                            <td>2000</td>
                            <td>2000</td>
                            <td>2000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>3000</td>
                        </tr>
                        <tr>
                            <td>3000</td>
                            <td>3000</td>
                            <td>2000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>3000</td>
                            <td>1000</td>
                            <td>4000</td>
                            <td>5000</td>
                        </tr>
                    </table>
                </fieldset>
 
                <fieldset>
                    <legend> 3ª Etapa / 4ª Etapa <span class="lesssmall pull-right"> Organizando dados. (Por ser quantitativo [Salários] deve ser ordenado).</span></legend>

                    <blockquote class="blockquote-reverse small">Na segunda etapa necessitamos fazer o "ROL" que é a ordenação dos elementos de forma crescente.</blockquote>


                    <table class="table">
                        <thead>
                            <tr>
                                <th title="Valor a ser calculado">[XI]</th>
                                <th title="Frequência simples">[FI]</th>
                                <th title="Frequência relativa percentual ">[FE%]</th>
                                <th title="Frequência Acumulada">[F]</th>
                                <th title="Frequência Acumulada porcentual">[F%]</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1000</td>
                                <td>1000</td>
                                <td>2000</td>
                                <td>2000</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <td>1000</td>
                                <td>1000</td>
                                <td>2000</td>
                                <td>2000</td>
                                <td>3000</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </fieldset>
           

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>