@using EstatisticaFatec.Helper
@model EstatisticaFatec.Core.Models.DistribuicaoUniforme.DistribuicaoUniformeEntity

@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
@if (Model.Probabilidade == 0)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
    </div>
}

@section opcoes
{
    <li>
        <a class="btn-floating" title="Informações" data-toggle="modal" data-target="#modalDistribuicaoBinomial">
            <i class="glyphicon glyphicon-book" aria-hidden="true"></i>
        </a>
    </li>
}
<div class="well bs-component">
    <fieldset>
        <legend>Distribuição Uniforme</legend>
        <div class="form-group">


            <div class="col-xs-12">
                <blockquote class="small">
                    A distribuição uniforme é a mais simples distribuição contínua, entretanto uma das mais importantes e utilizadas dentro da teoria de probabilidade. A distribuição uniforme tem uma importante característica a qual a probabilidade de acontecer um fenômeno de mesmo comprimento é a mesma.
                    <small class="pull-right">
                        <a target="_newblank" href="http://www.portalaction.com.br/probabilidades/61-distribuicao-uniforme">http://www.portalaction.com.br/probabilidades/61-distribuicao-uniforme</a>
                    </small>
                </blockquote>
            </div>
        </div>
    </fieldset>

</div>

<div class="well bs-component">
    <form class="form-horizontal" method="post" action="@Url.Action("Index")">
        <fieldset>
            <legend>Parametrização</legend>

            @if (@Html.ViewData.ModelState.IsValid == false)
            {
                <div class="alert alert-warning alert-dismissable" style="background-color: #610883;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="row-action-primary">
                        <i class="material-icons" style="color: white;float: left;">error</i>
                    </div>
                    <strong>@Html.ValidationMessage("error")</strong>
                </div>
            }
            <div class="form-group">
                <label class="col-md-1 control-label" title="Menor valor">A</label>
                <div class="col-md-2">
                    <input class="form-control" required placeholder="@Html.Null(Model.A)" value="@Html.Null(Model.A)" name="A" type="text">
                </div>

                <label class="col-md-2 control-label" title="Maior Valor">B</label>
                <div class="col-md-2">
                    <input class="form-control" required placeholder="@Html.Null(Model.B)" value="@Html.Null(Model.B)" name="B" type="text">
                </div>

                <label class="col-md-2 control-label" title="Valor de Equilibrio">Equilibrio</label>
                <div class="col-md-2">
                    <input class="form-control" placeholder="@Html.Null(Model.Equilibrio)" value="@Html.Null(Model.Equilibrio)" name="Equilibrio" type="text">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-2 form-inline">
                    <label class="col-md-3 control-label">Deseja calcular a probabilidade?</label>

                    <div class="radio">
                        <label>
                            <input type="radio" class="radio-inline" name="TipoEntrada" required="" value="-1">
                            Nenhum
                        </label>
                        <label>
                            <input type="radio" class="radio-inline" name="TipoEntrada" required="" value="0">
                            Menor
                        </label>
                        <label>
                            <input type="radio" class="radio-inline" name="TipoEntrada" required="" value="1" />
                            Entre
                        </label>
                        <label>
                            <input type="radio" class="radio-inline" name="TipoEntrada" required="" value="2" />
                            Maior
                        </label>
                        <label>
                            <input type="radio" class="radio-inline" name="TipoEntrada" required="" value="3" />
                            Exatamente
                        </label>
                    </div>
                </div>

                <div id="probabilidadeRadio" class="form-group" @(Model.TipoEntrada == -1 ? "style=display:none" : "")>

                    <div id="divValorA">
                        <label class="col-md-2 control-label">X:</label>
                        <div class="col-md-3">
                            <input id="txtX" class="form-control" @(Model.TipoEntrada == -1 ? "" : "required") placeholder="@Html.Null(Model.Input.Length > 0 ? Model?.Input[0] : null)" name="Input" type="text">
                        </div>
                    </div>

                    <div id="divValorB" @(Model.TipoEntrada != 1 ? "style=display:none" : "")>
                        <label class="col-md-2 control-label">Y:</label>
                        <div class="col-md-3">
                            <input id="txtY" class="form-control" @(Model.TipoEntrada == 1 ? "required" : "") placeholder="@Html.Null(Model.Input.Length > 1 ? Model?.Input[1] : null)" name="Input" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-2">
                <button type="reset" class="btn btn-danger">Limpar</button>
                <button type="submit" class="btn btn-primary">
                    Enviar
                    <div class="ripple-container"></div>
                </button>
            </div>


            <div class="col-md-12">

                <div class="form-group">

                    @if (Model.A != 0)
                    {
                        <hr>

                        <label class="col-md-2 control-label">Média:</label>
                        <div class="col-md-1">
                            <input class="form-control" readonly="" value="@Html.Null(Model.Media)" type="text">
                        </div>

                        <label class="col-md-2 control-label">Desvio Padrão:</label>
                        <div class="col-md-1">
                            <input class="form-control" readonly="" value="@Html.Null(Model.DesvioPadrao)" type="text">
                        </div>

                        <label class="col-md-2 control-label">Variância:</label>
                        <div class="col-md-1">
                            <input class="form-control" readonly="" value="@Html.Null(Model.Variancia)" type="text">
                        </div>

                        if (Model.TipoEntrada != -1)
                        {
                            <label class="col-md-2 control-label">Probabilidade:</label>
                            <div class="col-md-1">
                                <input class="form-control" readonly="" value="@Html.Null(Model.Probabilidade)" type="text">
                            </div>
                        }


                    }
                </div>
            </div>

        </fieldset>
    </form>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("input[name=TipoEntrada]").prop("checked", false);
            $("input[name=TipoEntrada][value=@Model.TipoEntrada]").prop("checked", true);
        });
        $("input[name=TipoEntrada]").change(function () {
            var valor = $("input[name=TipoEntrada]:checked").val();

            if (valor == -1) {
                $("#probabilidadeRadio").hide();
                $("#txtY").val("");
                $("#txtX").val("");
                $("#txtX").removeAttr("required");
                $("#txtY").removeAttr("required");
            } else {
                $("#probabilidadeRadio").show();
                $("#txtX").attr("required", "required").val("");
            }

            if (valor != 1) {
                $("#divValorB").hide();
                $("#txtY").val("");
                $("#txtY").removeAttr("required");
            } else {
                $("#divValorB").show();
                $("#txtY").attr("required", "required").val("");
            }
        });
    </script>
}
<!-- Modal -->
<div id="modalDistribuicaoBinomial" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Entendendo as etapas</h4>
            </div>
            <div class="modal-body">

                <h4>Base</h4>
                <code title="Fórmula">
                   x E [<span title="ponto mínimo">a</span>;<span title="ponto máximo">b</span>]
                </code>

                <h4>Média</h4>
                <code title="Fórmula">
                    E(x) =
                    <span class="fraction-inline">
                        <span class="fraction" title="Total de elementos">
                            b + a
                        </span>
                        <span class="fraction divider" title="Evento / Análise combinatória">
                            2
                        </span>
                    </span>
                </code>

                <h4>Desvio Padrão</h4>
                <code title="Fórmula">
                    DP = raiz [
                    <span class="fraction-inline">
                        <span class="fraction" title="Total de elementos">
                            (b - a) ²
                        </span>
                        <span class="fraction divider" title="Evento / Análise combinatória">
                            12
                        </span>
                    </span>]
                </code>

                <h4>Probabilidade</h4>
                <code title="Fórmula">
                    f(x) =
                    <span class="fraction-inline">
                        <span class="fraction" title="Total de elementos">
                           1
                        </span>
                        <span class="fraction divider" title="Evento / Análise combinatória">
                           b - a
                        </span>
                    </span>
                    . ?
                </code>
            </div>
        </div>
    </div>
</div>

