@model EstatisticaFatec.Core.Models.Sistematica.SistematicaEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sistematica</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">O que é?</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row-action-primary" data-toggle="tooltip" title="Clique aqui para mais informações">
                    <i class="material-icons informacao info" data-toggle="modal" data-target="#myModal">info</i>
                </div>
                <div class="row-content">
                    <p class="list-group-item-text">
                        Uma amostra aleatória simples é um subconjunto de indivíduos (a amostra) seleccionado totalmente ao acaso a partir de um conjunto maior (a população) por um processo que garanta que:
                        <ul>
                            <li>
                                Todos os indivíduos da população têm a mesma probabilidade de ser escolhidos para a amostra; e
                            </li>
                            <li>
                                Cada subconjunto possível de indivíduos (amostra) tem a mesma probabilidade de ser escolhido que qualquer outro subconjunto de indivíduos.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Inicial == 0)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
    </div>
}

<div class="well bs-component">
    <form class="form-horizontal" method="post" action="@Url.Action("Index")">
        <fieldset>
            <legend>Parametrização</legend>

            <div class="form-group">
                <div class="row">
                    <label class="col-md-2 control-label">Quantidade da Amostra</label>

                    <div class="col-md-2">
                        <input class="form-control" required placeholder="@Model.Amostra" value="@Model.Amostra" name="amostra" type="number" min="1">
                    </div>


                    <label class="col-md-1 control-label">População</label>
                    <div class="col-md-2">
                        <input class="form-control" id="populacao" required placeholder="@Model.Populacao" value="@Model.Populacao" name="populacao" type="number" min="1">
                    </div>

                    <label class="col-md-1 control-label">Valor Inicial</label>
                    <div class="col-md-4">
                        <div class="col-md-6">
                            <input class="form-control" required placeholder="@Model.Inicial" value="@Model.Inicial" name="inicial" id="inicial" type="number" min="1">
                        </div>
                        <div class="col-md-6">
                            <button type="button" onclick="randomNumberSistematica()" class="btn btn-primary">Sortear</button>
                        </div>
                    </div>




                </div>
                @if (Model.Inicial != 0)
                {
                    <hr />

                    <label class="col-md-2 control-label">Resultados</label>
                    <div class="col-md-10">
                        <table class="table">
                            <thead>
                                @foreach (var item in @Model.Resultado)
                                {
                                    <tr>
                                        <td>@item</td>
                                    </tr>
                                }
                            </thead>
                        </table>
                    </div>
                }
            </div>

            <div class="col-md-10 col-md-offset-2">
                <a href="@Url.Action("Index","Home")" class="btn btn-default">Voltar</a>
                <button type="reset" class="btn btn-danger">Limpar</button>
                <button type="submit" class="btn btn-primary">Enviar<div class="ripple-container"></div></button>
            </div>
        </fieldset>
    </form>
</div>

@section scripts
{
    <script>
        function randomNumberSistematica() {

            var populacao = parseInt(document.getElementById("populacao").value);

            if (populacao < 1) {
                alert("Por favor, preencha algum valor maior que 1 na população");
                return;
            }

            document.getElementById("inicial").value = Math.floor((Math.random() * parseInt(document.getElementById("populacao").value)) + 1);
        }
    </script>

}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Entendendo as etapas</h4>
            </div>
            <div class="modal-body">
                <p>
                    A seguir temos um exemplo de como obtemos números aleatórios conforme a quantidade de amostra/população.
                </p>
                <fieldset>
                    <legend> Coletando paramêtros <span class="lesssmall pull-right">A população deve ser maior que a amostra.</span></legend>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Amostra</th>
                                <th>População</th>
                            </tr>
                        </thead>
                        <tr>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                    </table>
                    <legend> Possíveis resultados <span class="lesssmall pull-right">Nesse exemplo um desses números será nossa resposta.</span></legend>

                    <table class="table">
                        <thead>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                            </tr>
                        </thead>

                    </table>

                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>