@model EstatisticaFatec.Core.Models.Sistematica.SistematicaEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sistematica</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">O que é?</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="material-icons" style="font-size:50px">info</i>
                </div>
                <div class="row-content">
                    <p class="list-group-item-text">
                        Uma amostra aleatória simples é um subconjunto de indivíduos (a amostra) seleccionado totalmente ao acaso a partir de um conjunto maior (a população) por um processo que garanta que:
                        <ul>
                            <li>
                                Todos os indivíduos da população têm a mesma probabilidade de ser escolhidos para a amostra; e
                            </li>
                            <li>
                                Cada subconjunto possível de indivíduos (amostra) tem a mesma probabilidade de ser escolhido que qualquer outro subconjunto de indivíduos.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="list-group-separator"></div>
        </div>
    </div>
</div>

@if (Model.Inicial != 0)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
    </div>
}

<div class="well bs-component">
    <form class="form-horizontal" method="post" action="@Url.Action("Index")">
        <fieldset>
            <legend>Parametrização</legend>

            <div class="form-group">
                <div class="row">
                    <label class="col-md-2 control-label">Quantidade da Amostra</label>

                    <div class="col-md-4">
                        <input class="form-control" required placeholder="@Model.Amostra" name="amostra" type="number">
                    </div>

                    <label class="col-md-2 control-label">População</label>

                    <div class="col-md-4">
                        <input class="form-control" required placeholder="@Model.Inicial" name="inicial" type="number">
                    </div>


                    <label class="col-md-2 control-label">População</label>
                    <div class="col-md-4">
                        <input class="form-control" required placeholder="@Model.Populacao" name="populacao" type="number">
                    </div>

                    <hr />

                    <label class="col-md-2 control-label">Resultados</label>
                </div>

                <div class="row">
                    @foreach (var item in @Model.Resultado)
                    {
                        <div class="col-md-10 col-md-offset-2">
                            <input class="form-control" placeholder="@item" name="resultado" type="number">
                        </div>
                    }
                </div>


            </div>

            <div class="col-md-10 col-md-offset-2">
                <button type="reset" class="btn btn-default">Limpar</button>
                <button type="submit" class="btn btn-primary">Enviar<div class="ripple-container"></div></button>
            </div>
        </fieldset>
    </form>
</div>