
<div class="container">

    <fieldset style="margin-bottom: 20px;">
        <legend>Variavel Quantitativa / Séries estátisticas</legend>
        <div class="row">
            <div class="card card--big col-sm-4">
                <div class="card__image" style="text-align: center; background-color: rgba(0, 134, 110, 0.8);">
                    <i class="material-icons" style="font-size: 225px; color: whitesmoke">format_list_numbered</i>
                </div>
                <h2 class="card__title">Variavel Quantitativa</h2>
                <p class="card__text">Geralmente são o resultado de contagens. Exemplos: número de filhos...</p>
                <div class="card__action-bar">
                    <a href="@Url.Action("Index", "VariavelDiscreta")" class="card__button btnMaterial">Iniciar</a>
                </div>
            </div>
            <div class="card card--big col-sm-4">
                <div class="card__image" style="text-align: center; background-color: rgba(255, 45, 0, 0.78);">
                    <i class="material-icons" style="font-size: 225px; color: whitesmoke">timeline</i>
                </div>


                <h2 class="card__title">Variavel Continua</h2>
                <p class="card__text">Características mensuráveis que assumem valores em uma escala contínua (na reta real)...</p>
                <div class="card__action-bar">
                    <a href="@Url.Action("Index", "VariavelContinua")" class="card__button btnMaterial">Iniciar</a>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset style="margin-bottom: 20px;">
        <legend>Técnicas de amostragem</legend>
        <div class="row">
            <div class="card card--big col-sm-4">
                <div class="card__image" style="text-align: center; background-color: rgba(255, 225, 0, 0.8);">
                    <i class="material-icons" style="font-size: 225px; color: whitesmoke">swap_vertical_circle</i>
                </div>
                <h2 class="card__title">Aleatória Simples</h2>
                <p class="card__text">Geralmente são o resultado de contagens. Exemplos: número de filhos...</p>
                <div class="card__action-bar">
                    <a href="@Url.Action("Index", "AleatoriaSimples")" class="card__button btnMaterial">Iniciar</a>
                </div>
            </div>
            <div class="card card--big col-sm-4">
                <div class="card__image" style="text-align: center; background-color: rgba(0, 0, 0, 0.8);">
                    <i class="material-icons" style="font-size: 225px; color: whitesmoke">polymer</i>
                </div>


                <h2 class="card__title">Estratificada</h2>
                <p class="card__text">Características mensuráveis que assumem valores em uma escala contínua (na reta real)...</p>
                <div class="card__action-bar">
                    <a href="@Url.Action("Index", "EstratificadaProporcional")" class="card__button btnMaterial">Proporcional</a>
                    <a href="@Url.Action("Index", "EstratificadaUniforme")" class="card__button btnMaterial">Uniforme</a>
                </div>
            </div>
            <div class="card card--big col-sm-4">
                <div class="card__image" style="text-align: center; background-color: rgba(8, 104, 23, 0.8);">
                    <i class="material-icons" style="font-size: 225px; color: whitesmoke">dvr</i>
                </div>
                <h2 class="card__title">Sistemática</h2>
                <p class="card__text">Conheça um pouco mais sobre a aplicação...</p>
                <div class="card__action-bar">
                    <a href="@Url.Action("Index", "Sistematica")" class="card__button btnMaterial">Iniciar</a>
                </div>
            </div>
        </div>
    </fieldset>


    <fieldset style="margin-bottom: 20px;">
        <legend>Distribuição Normal</legend>
        <div class="row">
            <div class="card card--big col-sm-4">
                <div class="card__image" style="text-align: center; background-color: rgba(255, 225, 0, 0.8);">
                    <i class="material-icons" style="font-size: 225px; color: whitesmoke">swap_vertical_circle</i>
                </div>
                <h2 class="card__title">Menor</h2>
                <p class="card__text">Geralmente são o resultado de contagens. Exemplos: número de filhos...</p>
                <div class="card__action-bar">
                    <a href="@Url.Action("Index", "DistribuicaoMenor")" class="card__button btnMaterial">Iniciar</a>
                </div>
            </div>
            <div class="card card--big col-sm-4">
                <div class="card__image" style="text-align: center; background-color: rgba(0, 0, 0, 0.8);">
                    <i class="material-icons" style="font-size: 225px; color: whitesmoke">polymer</i>
                </div>


                <h2 class="card__title">Entre</h2>
                <p class="card__text">Características mensuráveis que assumem valores em uma escala contínua (na reta real)...</p>
                <div class="card__action-bar">
                    <a href="@Url.Action("Index", "DistribuicaoEntre")" class="card__button btnMaterial">Proporcional</a>
                </div>
            </div>
            <div class="card card--big col-sm-4">
                <div class="card__image" style="text-align: center; background-color: rgba(8, 104, 23, 0.8);">
                    <i class="material-icons" style="font-size: 225px; color: whitesmoke">dvr</i>
                </div>
                <h2 class="card__title">Maior</h2>
                <p class="card__text">Conheça um pouco mais sobre a aplicação...</p>
                <div class="card__action-bar">
                    <a href="@Url.Action("Index", "DistribuicaoMaior")" class="card__button btnMaterial">Suporte</a>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset style="margin-bottom: 20px;">
        <legend>Conheça um pouco sobre os desenvolvedores</legend>
        <div class="row">
            <div class="card card--big col-sm-4">
                <div class="card__image autores" style="background-image: url(https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/e35/11325150_1648014432076977_1544797284_n.jpg?ig_cache_key=MTA2MjU2MDkyMzc0Nzg4MTc3Mw%3D%3D.2);background-position: 0px -86px;"></div>
                <h2 class="card__title">Antonio</h2>
                <p class="card__text">Conheça um pouco mais sobre a aplicação...</p>
                <div class="card__action-bar">
                    <a href="https://www.facebook.com/juninmd" target="_blank" class="card__button btnMaterial">Facebook</a>
                </div>
            </div>
            <div class="card card--big col-sm-4">
                <div class="card__image autores" style="background-image: url(https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpt1/t31.0-8/1781817_537063539742801_715395303_o.jpg)"></div>
                <h2 class="card__title">Arthur</h2>
                <p class="card__text">Conheça um pouco mais sobre a aplicação...</p>
                <div class="card__action-bar">
                    <a href="https://www.facebook.com/ArthurRochaFonseca?fref=ts" target="_blank" class="card__button btnMaterial">Facebook</a>
                </div>
            </div>
            <div class="card card--big col-sm-4">
                <div class="card__image autores" style="background-image: url(https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/1557601_721623334591564_8700936220599549004_n.jpg?oh=a964282934b063dca2ea910e3c0c68fb&oe=576820ED&__gda__=1464821181_d13c180085637ed2f9d9fc1fbe7b54a7);background-position: 0px -5px;"></div>
                <h2 class="card__title">Bruno</h2>
                <p class="card__text">Conheça um pouco mais sobre a aplicação...</p>
                <div class="card__action-bar">
                    <a href="https://www.facebook.com/brunooliveirabass" target="_blank" class="card__button btnMaterial">Facebook</a>
                </div>
            </div>
        </div>
    </fieldset>
</div>
