@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <fieldset>
        <div class="row">
            <div class="col-sm-6">

                <div class="card card--big">
                    <div class="card__image" style="text-align: center; background-color: rgba(0, 0, 0, 0.8);">
                        <i class="material-icons" style="font-size: 225px; color: whitesmoke">swap_vertical_circle</i>
                    </div>
                    <h2 class="card__title">Técnicas de amostragem</h2>
                    <div class="card__action-bar">
                        <a href="@Url.Action("Index", "AleatoriaSimples")" class="card__button btnMaterial">Aleatória</a>
                        <a href="@Url.Action("Index", "EstratificadaUniforme")" class="card__button btnMaterial">Uniforme</a>
                        <a href="@Url.Action("Index", "EstratificadaProporcional")" class="card__button btnMaterial">Proporcional</a>
                        <a href="@Url.Action("Index", "Sistematica")" class="card__button btnMaterial">Sistemática</a>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">
                <div class="card card--big">
                    <div class="card__image" style="text-align: center; background-color: rgba(255, 45, 0, 0.78);">
                        <i class="material-icons" style="font-size: 225px; color: whitesmoke">timeline</i>
                    </div>
                    <h2 class="card__title">Variavel Quantitativa</h2>
                    <div class="card__action-bar">
                        <a href="@Url.Action("Index", "VariavelDiscreta")" class="card__button btnMaterial">Discreta</a>
                        <a href="@Url.Action("Index", "VariavelContinua")" class="card__button btnMaterial">Continua</a>
                        <a href="javascript:void()" data-toggle="modal" data-target="#modalQuantitativa" title="Qual devo utilizar?" class="card__button btnMaterial">?</a>

                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card card--big ">
                    <div class="card__image" style="text-align: center; background-color: rgba(186, 0, 255, 0.9);">
                        <i class="material-icons" style="font-size: 225px; color: whitesmoke">format_list_numbered</i>
                    </div>
                    <h2 class="card__title">Medidas de Tendência Central</h2>
                    <div class="card__action-bar">
                        <a href="@Url.Action("Index", "MedidasTendencia")" class="card__button btnMaterial">Medidas de tendência</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card card--big ">
                    <div class="card__image" style="text-align: center; background-color: rgba(0, 75, 255, 0.9);;">
                        <i class="material-icons" style="font-size: 225px; color:whitesmoke ">settings_ethernet</i>
                    </div>
                    <h2 class="card__title">Medidas de Dispersão</h2>
                    <div class="card__action-bar">
                        <a href="@Url.Action("Index", "MedidasDispersao")" class="card__button btnMaterial">Medidas de Dispersão</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card card--big ">
                    <div class="card__image" style="text-align: center; background-color: rgba(36, 64, 5, 0.80);">
                        <i class="material-icons" style="font-size: 225px; color: whitesmoke">trending_down</i>
                    </div>
                    <h2 class="card__title">Distribuição Normal</h2>
                    <div class="card__action-bar">
                        <a href="@Url.Action("Index", "DistribuicaoNormal")" class="card__button btnMaterial">Distribuição Normal</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card card--big ">
                    <div class="card__image" style="text-align: center; background-color: rgba(251, 255, 0, 0.8);">
                        <i class="material-icons" style="font-size: 225px; color: whitesmoke">dns</i>
                    </div>
                    <h2 class="card__title">Distribuição Binomial</h2>
                    <div class="card__action-bar">
                        <a href="@Url.Action("Index", "DistribuicaoBinomial")" class="card__button btnMaterial">Distribuição Binomial</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card card--big ">
                    <div class="card__image" style="text-align: center; background-color: rgba(16, 255, 0, 0.8);">
                        <i class="material-icons" style="font-size: 225px; color:whitesmoke ">invert_colors</i>
                    </div>
                    <h2 class="card__title">Distribuição Uniforme</h2>
                    <div class="card__action-bar">
                        <a href="@Url.Action("Index", "DistribuicaoUniforme")" class="card__button btnMaterial">Distribuição Uniforme</a>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
</div>

<!-- Modal Sobre dúvidas de Variavél quantitativa -->
<div id="modalQuantitativa" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Qual devo utilizar?</h4>
            </div>

            <div class="modal-body">
                <fieldset>
                    <legend>Como sei que é do tipo Discreta? </legend>
                    <img style="width: 100%;" class="img-rounded img-responsive" src="~/Content/img/variavelQuantitativa/discretaExemplo.jpg" />
                    <blockquote class="small">Quando a quantidade de repetições for grande e a variedade de varíavel pesquisada for pequena.</blockquote>
                    <legend>Como sei que é do tipo Contínua? </legend>
                    <img style="width: 100%;" class="img-rounded img-responsive" src="~/Content/img/variavelQuantitativa/continuaExemplo.jpg" />
                    <blockquote class="small">Quando a quantidade de repetições for pequena e a variedade de varíavel pesquisada for grande.</blockquote>
                </fieldset>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>