
<div class="container">

    <fieldset style="margin-bottom: 20px;">
        <legend>Variavel Quantitativa / Séries estátisticas / Distribuiçao Normal</legend>
        <div class="row">

            <div class="col-sm-6">
                <div class="card card--big">
                    <div class="card__image" style="text-align: center; background-color: rgba(0, 0, 0, 0.8);">
                        <i class="material-icons" style="font-size: 225px; color: whitesmoke">swap_vertical_circle</i>
                    </div>


                    <h2 class="card__title">Estratificada</h2>
                    <p class="card__text">Características mensuráveis que assumem valores em uma escala contínua (na reta real)...</p>
                    <div class="card__action-bar">
                        <a href="@Url.Action("Index", "AleatoriaSimples")" class="card__button btnMaterial">Aleatória</a>
                        <a href="@Url.Action("Index", "EstratificadaUniforme")" class="card__button btnMaterial">Uniforme</a>
                        <a href="@Url.Action("Index", "EstratificadaProporcional")" class="card__button btnMaterial">Proporcional</a>
                        <a href="@Url.Action("Index", "Sistematica")" class="card__button btnMaterial">Sistemática</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card card--big">
                    <div class="card__image" style="text-align: center; background-color: rgba(255, 45, 0, 0.78);">
                        <i class="material-icons" style="font-size: 225px; color: whitesmoke">timeline</i>
                    </div>
                    <h2 class="card__title">Variavel Quantitativa</h2>
                    <p class="card__text">Geralmente são o resultado de contagens. Exemplos: número de filhos...</p>
                    <div class="card__action-bar">
                        <a href="@Url.Action("Index", "VariavelDiscreta")" class="card__button btnMaterial">Discreta</a>
                        <a href="@Url.Action("Index", "VariavelContinua")" class="card__button btnMaterial">Continua</a>

                    </div>
                </div>
            </div>

           

            <div class="col-sm-3">
                <div class="card card--big ">
                    <div class="card__image" style="text-align: center; background-color: rgba(255, 225, 0, 0.8);">
                        <i class="material-icons" style="font-size: 225px; color: whitesmoke">format_list_numbered</i>
                    </div>
                    <h2 class="card__title">Distribuição Normal</h2>
                    <p class="card__text">Geralmente são o resultado de contagens. Exemplos: número de filhos...</p>
                    <div class="card__action-bar">
                        <a href="@Url.Action("Index", "DistribuicaoMenor")" class="card__button btnMaterial">Menor</a>
                        <a href="@Url.Action("Index", "DistribuicaoEntre")" class="card__button btnMaterial">Entre</a>
                        <a href="@Url.Action("Index", "DistribuicaoMaior")" class="card__button btnMaterial">Maior</a>
                    </div>
                </div>
            </div>

        </div>
    </fieldset>
 

</div>
