@model EstatisticaFatec.Core.Models.VariavelContinua.VariavelContinuaContainerEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Varíavel Continua</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">O que é?</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="material-icons" style="font-size:50px">info</i>
                </div>
                <div class="row-content">
                    <p class="list-group-item-text">
                        Características mensuráveis que assumem valores em uma escala contínua (na reta real), para as quais valores fracionais fazem sentido. Usualmente devem ser medidas através de algum instrumento. Exemplos: peso (balança), altura (régua), tempo (relógio), pressão arterial, idade.
                    </p>
                    <p>
                        Exemplos: número de filhos, número de bactérias por litro de leite, número de cigarros fumados por dia.
                        <button class="btn btn-success" data-toggle="modal" data-target="#myModal"> + Informações</button>
                    </p>
                </div>
            </div>
            <div class="list-group-separator"></div>
        </div>
    </div>
</div>

@if (Model.InputValue.Any() == false)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Você ainda não preencheu os paramêtros! Por favor, preencha os paramêtros.</strong>
    </div>



<form method="POST" action="@Url.Action("Index")">
    <div class="panel panel-info">
        <div class="panel-heading">
            <span class="badge">1ª Etapa</span>
            <span class="info">Efetuamos a coleta de todos os dados.</span>
        </div>

        <div class="panel-body">
            <div class="row-content">

                <div class="list-group">
                    <div class="list-group-item">

                        <div class="row">

                            <div class="col-md-4">
                                <span class="badge">Você pode efetuar o upload de arquivo</span>
                                <input type="file" value="" />
                            </div>
                            <div class="col-md-8">
                                <span class="badge">Ou se preferir manualmente, insira os paramêtros, separados por ponto e vírgula ";"</span>
                            </div>

                        </div>

                        <textarea name="massaDados" placeholder="@string.Join("; ", @Model.InputValue)" class="form-control" rows="6" style="min-width: 100%" id="txtParametros"></textarea>

                    </div>
                </div>

                <div class="btn-group pull-right">
                    <input class="btn btn-danger" value="Limpar" type="reset">
                    <input class="btn btn-warning" onclick="formatarInput()" value="Formatar Inputs" type="button">
                    <input class="btn btn-success" value="Enviar" type="submit">
                </div>

            </div>
        </div>
    </div>
</form>


<div class="panel panel-info">
    <div class="panel-heading">
        <span class="badge">2ª Etapa</span>
        <span class="info">Toda informação é ordenada (Vulgo ROL).</span>
    </div>

    <div class="panel-body">
        <div class="row-content">

            <div class="list-group">
                <div class="list-group-item" style="text-align: center">
                    <p>Resultados: <span>@string.Join("; ", @Model.Rol)</span></p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">

            <div class="col-md-5">
                <span class="badge">3ª Etapa</span>
                <span class="info">Organizamos a coleta de dados</span>
            </div>

            <div class="col-md-7">
                <span class="badge">4ª Etapa</span>
                <span class="info">Distribuição de Frequência</span>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="row-content">

            <div class="list-group">
                <div class="list-group-item">

                    <table class="table">
                        <thead>
                        <tr>
                            <th title="Classes">Classes</th>
                            <th title="De x até y">Range</th>
                            <th title="Frequência simples">[FI]</th>
                            <th title="Frequência relativa percentual ">[FE%]</th>
                            <th title="Frequência Acumulada">[F]</th>
                            <th title="Frequência Acumulada porcentual">[F%]</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.VariavelContinuaEntity)
                        {
                            <tr>
                                <td>@item.Classe</td>
                                <td>@item.Range[0]|-------@item.Range[1]</td>
                                <td>@item.Count</td>
                                <td>@item.FEPorcent%</td>
                                <td>@item.F</td>
                                <td>@item.FPorcent%</td>
                            </tr>
                        }
                        </tbody>
                    </table>

                    <div class="list-group-separator"></div>
                    <div class="list-group-item" style="text-align: center">
                        <p>Média: <span>@Model.Media</span></p>
                        <p>Moda: <span>@Model.Moda</span></p>
                        <p>Mediana: <span>@Model.Mediana</span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <span class="badge">5ª Etapa</span>
        <span class="info">Administramos assim os gráficos.</span>
    </div>

    <div class="panel-body">
        <div class="row-content">

            <div class="list-group">
                <div class="list-group-item" style="text-align:center">
                    <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>

        </div>
    </div>
</div>







@section scripts{
    <script src="~/Scripts/highcharts.js"></script>
    <script>
 
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Varíavel contínua'
                },
                subtitle: {
                    text: 'Descrição dos dados'
                },
                xAxis: {
                    categories: [@string.Join(", ", @Model.VariavelContinuaEntity.Select(q=> q.Classe))],
                    title: {
                        text: "Classes"
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Porcentagem',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' de frequência'
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [
                    {
                        name: 'F%',
                        data: [@string.Join(", ", @Model.VariavelContinuaEntity.Select(q => Math.Round(q.FPorcent)))]
                    },
                    {
                        name: 'FE%',
                        data: [@string.Join(", ", @Model.VariavelContinuaEntity.Select(q => Math.Round(q.FEPorcent)))]
                    }
                ]
            });
        });
    </script>
}

}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>